<a href="https://colab.research.google.com/github/omkarpattnaik8080/Panda01/blob/main/pandasAssn01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
df1=list[4,8,15,16,23,42]